<web-app  xmlns="http://java.sun.com/xml/ns/javaee"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
          version="2.5">
    <display-name>Web Application</display-name>

    <servlet>
        <servlet-name>Servlet Name For Demo1</servlet-name>
        <servlet-class>demo.web.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet Name For Demo1</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

</web-app>